﻿@model IEnumerable<CreditCardVerifier.Web.Helpers.CreditCardData>
@using System.Text.RegularExpressions;
@using System.Security.Cryptography;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{

                        var lastDigits = item.CardNum.ToString().Substring(item.CardNum.ToString().Length - 4, 4);

                        var requiredMask = new String('*', item.CardNum.ToString().Length - lastDigits.Length);

                        var maskedString = string.Concat(requiredMask, lastDigits);
                        ViewBag.Num = Regex.Replace(maskedString, ".{4}", "$0 ");
                    }
                    @ViewBag.Num
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td> 
                    @Html.ActionLink("Delete", "Delete", "CreditCards", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>