﻿@model CreditCardVerifier.Web.Helpers.CreditCardData

@{
    ViewData["Title"] = "Validate";
}

<h2>Validate</h2>

<h4>CreditCardData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Validate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardNum" class="control-label"></label>
                <input asp-for="CardNum" class="form-control" />
                @if (ViewBag.Validated)
                {
                    if (Model.Validity != "Valid")
                    {
                        <span style="color:red"> @Html.DisplayFor(m => m.Validity)</span>
                    }
                    else
                    {
                        <span style="color:green"> @Html.DisplayFor(m => m.Validity)</span>
                    }

                    <div class="form-group">
                        @Html.LabelFor(m => m.CardType)
                        <div class="col-md-10">
                            @Html.DisplayFor(m => m.CardType)
                        </div>
                    </div>
                }
                <span asp-validation-for="CardNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Validate" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

